@import "libs/normalize";
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background-color: red;
	padding: 20px;
	border-bottom: 1px solid #000;

	&__container {
		display: flex;
		justify-content: space-between;
	}
}

// content=================================================
.content {
	&__inner {
		display: flex;
	}
	&__left {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
	}
	&__right {
		width: 20%;
	}
}

// items=================================================
.items {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: calc(25% - 10px);
	margin: 5px;
	padding: 8px;

	&__img {
		width: 100%;
		height: 300px;
		display: block;
	}

	&__description {
		padding: 0 5px;
	}

	&__title {
		margin: 5px 0;
	}

	&__price {
		margin-top: 5px;
	}
}

// sidebar================================================
.sidebar {
	margin-top: 13px;
	border: 1px solid silver;
	&__filter {
		display: flex;
		flex-direction: column;

		span {
			padding: 10px;
			background-color: snow;
			border-bottom: 1px solid #000;
			transition: 0.3s all ease;
			cursor: pointer;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background-color: tomato;
			}
		}
	}
}
