@import "libs/normalize";
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background-color: red;
	padding: 20px;
	border-bottom: 1px solid #000;

	&__container {
		display: flex;
		justify-content: space-between;
	}
}

// content=================================================
.content {
	&__inner {
		display: flex;
	}
	&__left {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
	}
	&__right {
		width: 20%;
	}
}

// items=================================================
.items {
	display: flex;
	flex-wrap: wrap;
}

.card {
	position: relative;
	width: calc(25% - 10px);
	margin: 5px;
	padding: 8px;

	&__img {
		width: 100%;
		height: 300px;
		display: block;
	}

	&__description {
		padding: 0 5px;
	}

	&__title {
		margin: 5px 0;
	}

	&__price {
		margin-top: 5px;
		margin-bottom: 20px;
	}

	&__button {
		position: absolute;
		bottom: 0;
	}
}

// cart============================================
.cart {
	position: relative;

	z-index: 10;

	&:hover {
		.cart__hidden {
			display: flex;
			flex-direction: column;
		}
	}

	&__hidden {
		width: 330px;

		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: azure;
	}

	&__item {
		padding: 5px 10px;
		display: flex;
		align-items: center;
		height: 90px;

		img {
			height: 100%;
			width: auto;
		}
		button {
			padding: 3px;
			margin-left: auto;
		}
	}

	&__desc {
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
	}
}

// sidebar================================================
.sidebar {
	margin-top: 13px;
	border: 1px solid silver;

	// filter
	&__filter {
		display: flex;
		flex-direction: column;

		span {
			padding: 10px;
			background-color: snow;
			border-bottom: 1px solid #000;
			transition: 0.3s all ease;
			cursor: pointer;

			&:hover {
				background-color: tomato;
			}
		}
	}

	// input
	&__input {
		padding-top: 20px;
		width: 100%;

		input {
			width: 100%;
			padding: 5px;
		}
	}
}
